:root {
	--bg-color: #383F41;
	--dark-bg-color: #242424;
	--bright-green: #3ed249;
	--dark-green: #23a528;
	--purple: #a548eb;
	--dark-purple: #6924b1;
	--pink: #ff5373;
	--dark-pink: #cd304d;
	--bright-text: #d4d4d4;
}

body {
	background-color: var(--bg-color);
	color: var(--bright-text);
	font-family: Tahoma, sans-serif;
	text-align: left;
	padding-left: 1rem;
	padding-right: 1rem;
}


h1 {
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

h2 {
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.pixel-image {
	image-rendering: pixelated;
}


.container-projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 16px;
	margin-top: 1rem;
}

.container-projects img {
	width: 100%;
	border: 2px solid white;
	border-radius: 6px;
}


.images-projects img {
	height: auto;
	width: 15%;
	margin: 8px;
	border: solid var(--bright-text) 2px;
	border-radius: 5px;
}

.images-projects img:hover {
	transform: scale(1.2);
	box-shadow: 2px 2px 6px #000;
}

footer {
	padding: 20px;
	align-content: center;
	text-align: center;
	background-color: var(--dark-bg-color);
	border-radius: 10px;
}

.social-media {
	margin-bottom: 10px;
}

.social-media a {
	margin: 5px;
}

.social-media img {
	width: 50px;
	height: 50px;
}

.social-media img:hover {
	transform: scale(1.2);
}
